---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import CodeIcons from "../Icons/symbols/CodeIcons.astro";
import Projects from "../components/Projects.astro";
import ProfileIcons from "../Icons/symbols/ProfileIcons.astro";
import ContactIcons from "../Icons/symbols/ContactIcons.astro";
import Contact from "../components/Contact.astro";
import TitleSectionH2 from "../components/TitleSectionH2.astro";
import HomeSection from "../components/HomeSection.astro";
import SkillsSection from "../components/SkillsSection.astro";
import AboutMeSection from "../components/AboutMeSection.astro";
---

<Layout
  title="Portafolio - Web Developer Full Stack "
  description="¡Bienvenidos a mi portafolio! Soy Alexmary Rangel, una apasionada desarrolladora web con habilidades integrales. Explora mis proyectos y habilidades mientras me esfuerzo por crecer y especializarme dentro de un equipo profesional."
>
  <main class="px-5">
    <SectionContainer id="home">
      <HomeSection />
    </SectionContainer>
    <SectionContainer id="projects">
      <TitleSectionH2>
        <CodeIcons class="size-7" />
        Proyectos
      </TitleSectionH2>
      <Projects />
      <SkillsSection />
    </SectionContainer>
    <SectionContainer id="about">
      <TitleSectionH2>
        <ProfileIcons class="size-7" />
        Quien Soy
      </TitleSectionH2>
      <AboutMeSection />
    </SectionContainer>
    <!-- <SectionContainer id="blog" class="flex flex-col gap-6">
      <TitleSectionH2>
        <BlogIcons class="size-7" />
        Blog
      </TitleSectionH2>
    </SectionContainer> -->
    <SectionContainer id="contact" class="flex flex-col gap-6 mb-10">
      <TitleSectionH2>
        <ContactIcons class="size-7" />
        Contacto
      </TitleSectionH2>
      <Contact />
    </SectionContainer>
  </main>
</Layout>
