---
import { skills } from "./data/skillsData";
---

<ul
  class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 sm:gap-8 gap-6 place-items-center font-semibold"
>
  {
    skills.map((skill) => (
      <li class="flex flex-col items-center justify-center text-center transition-transform duration-300 hover:scale-105">
        <img
          src={skill.icon}
          alt={skill.name}
          class="size-10 sm:size-12 md:size-14 mb-2 transition-transform duration-300"
        />
        <p class="text-sm text-gray-700 dark:text-gray-200">{skill.name}</p>
      </li>
    ))
  }
</ul>
