---
import SkillIcons from "../Icons/symbols/SkillIcons.astro";
import SkillsAll from "./SkillsAll.astro";
---

<h2
  class={`text-2xl text-zinc-100 sm:text-3xl md:text-4xl font-semibold py-15 text-center flex justify gap-x-3 items-center `}
>
  <SkillIcons class="size-7" />
  Habilidades
</h2>
<SkillsAll class="size-10 sm:size-12 md:size-14" />
