---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import NavigateMobile from "../components/NavigateMobile.astro";
import "../styles/global.css";
import "@fontsource-variable/urbanist";
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Portafolio - Web Developer Full Stack ¡Bienvenidos a mi portafolio! Soy
      Alexmary Rangel, una apasionada desarrolladora web con habilidades
      integrales. Explora mis proyectos y habilidades mientras me esfuerzo por
      crecer y especializarme dentro de un equipo profesional.
    </title>
  </head>
  <body>
    <div
      class="absolute inset-0 -z-10 h-screen w-full bg-cover bg-center [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
    >
    </div>
    <Header />
    <slot />
    <Footer />
    <NavigateMobile />
  </body>
</html>
